.header {
    background-color: #282c34;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 20px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.para-align {
    margin: 0 5px;
    position: absolute;
    right: 20px;
}